<div class="card bg-base-100 w-96 shadow-sm">
  <div class="card-body">
    <h2 class="card-title"><%= school_class.name %></h2>
    <%= link_to("Show", school_class_path(school_class), class: "btn btn-primary") %>
  </div>
</div>